
//Slider
.slider {

	height: 455px;
	padding-top: $gutterwidth;
	position: relative;
	z-index: 1;
	background-color: $color-alt;
	@include max-width($bp1);

	ul {
		margin: 0;
		padding: 0;
	}

	* {
		transition: all .5s ease;
	}

	@media all and (min-width:450px) {}
}

  .slider__item {
	@include max-width(900px);
	position: absolute;
	top: 50px;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 5px;
	
	@media all and (min-width: 780px) {
		// width: 90%;
	}

    &.current {
    	opacity: 1;
    }
  }

.slider__slides {
	@media all and (min-width: 780px) {
		
		width: 50%;
		height: 350px;
		margin: 0 auto;
		// border: 1px dotted $black-alpha-suave;
	}
}

.slider__figure {
	position: relative;
	@extend %text-center;
	
	@media all and (min-width: 780px) {
		@include flexbox;
		@include align-content(center); //alineado horizontal
		@include align-items(center); //alineado vertical
		width: 100%;
	}

	img {
		
		width: 250px;
		height: 250px; //cambiar en wp thumbnail
		border-radius: 100%;
		margin: 0;

		@media all and (min-width: 780px) {
			width: 350px;
			height: auto;
			border-radius: $radius;
		}
	}
	
	.slider__meta-date {
		@extend %clearfix;
    	font-size: 1.8rem;
	}
	
	.slider__title {
		@extend %clearfix;
	}
	
	.slider__caption {
    	z-index: 10;
    	@extend %text-center;
    	color: $white;
    	font-size: 1.5rem;
    	line-height: 1.4;

		@media all and (min-width: 780px) {
			width: 30%;
		}
		@media all and (min-width: 1280px) {
    		font-size: 3.3rem;
    		line-height: 1.2;
    		width: 50%;
		}

		&:hover {
			// opacity: 1;
	    	// background-color: transparentize($color-alt, .2);
	    }
	}
}

	

.slider__item__next, .slider__item__prev {
	position: absolute;
	top: $gutterwidth*14;
	z-index: 100;
	height: 50px;
	width: 50px;
}

.slider__item__next {
	right: $gutterwidth;
}

.slider__item__prev {
	left: $gutterwidth;
}