
// Componente Post
.article-post {
	display: table;
	@include max-width($bp3);
}
	.article-post__content {
		vertical-align: top;
		@media all and (min-width: $bp3) {
			display: table-cell;
		}
		@extend %padding-horizontal;
			
			h2 {
				@media all and (max-width: $bp3) {
				font-size: 100%;
				word-spacing: 5px;
				}
			}
	}
	.article-post__figure {
		width: 50%;
		display: table-cell;
	}
		.article-post__figure + p {
			background-color: red;
			display: table-cell;
			width: 50%;
		}

// Componente Post en Slider	
.article-post--slider {}

	.article-post--slider__figure {
		width: 60%;
		display: table-cell;
	}
		.article-post__content {
			width: 40%;
			vertical-align: top;

			* {
				@extend %clearfix;
			}

			h2 {
				@extend %text-left;
				margin-bottom: $gutterwidth;
				color: $white;
				@media all and (min-width: $bp3) {
					color: $black;
				}
			}

			h2 + p {
				margin-bottom: $gutterwidth;
				@extend %line-height-smaller;
			}
		}

	.article-post__meta-date {
		color: $color-alt;
			font-style: italic;
			@include font-size(15);
			margin-bottom: 0;
		@media all and (min-width: $bp3) {}
	}
	.article-post--slider__meta-date {
		color: $white;
			font-style: italic;
			@include font-size(24);
			margin-bottom: 0;
		@media all and (min-width: $bp3) {
		}
	}




