
// Componente Post
.article-post {
	display: table;
	@include max-width($bp3);
}
	.article-post__content {
		display: table-cell;
		vertical-align: top;
	}
	.article-post__figure {
		width: 50%;
		display: table-cell;
	}
		.article-post__figure + p {
			background-color: red;
			display: table-cell;
			width: 50%;
		}

// Componente Post en Slider	
.article-post--slider {
	display: table;
}

	.article-post--slider__figure {
		width: 60%;
		display: table-cell;
	}
		.article-post--slider__figure + .article-post__content {
			width: 40%;
			display: table-cell;
			vertical-align: top;
			padding-left: $gutterwidth * 2;

			* {
				@extend %clearfix;
			}

			h2 {
				@extend %text-left;
				margin-bottom: $gutterwidth;
				color: $white;
			}

			h2 + p {
				margin-bottom: $gutterwidth;
				@extend %line-height-smaller;
			}
		}

	.article-post--slider__meta-date {
		color: $color-alt;
		margin-bottom: 0;
		@include font-size(24);
		font-style: italic;
	}




