
.sidebar {

	* {
		letter-spacing: $baseletterspacing;
	}


	a, a:visited {

		color: $white-alpha-fuerte;

		&:hover {
			color: $white;
		}

	}


	@include max-width($bp1);

	background-color: darken($color-alt, 10%);

	padding-top: $gutterwidth;

	
	
	h3, h2, h4 {

		color: $white-alpha-medio;

	}


	img {

		width: inherit;
	}

	figure {

		> a {

			@extend %clearfix;

		}

		figcaption {}
	}

}