
.sidebar {

	@include max-width($bp1);

	background-color: darken($color-alt, 10%);

	padding-top: $gutterwidth / 2;

	
	
	h2, h4 {

		color: $white;

	}


	img {

		width: inherit;
	}

	figure {

		> a {

			@extend %clearfix;

		}

		figcaption {}
	}

}